
/* Small devices (portrait tablets and large phones, 600px and down) */
@media only screen and (max-width: 600px) {.headerFont {
  font-family: "customfont";
  color: white;
  font-size: 10vmin;
  line-height: 75%;
}}

/* Medium devices (landscape tablets, 600px and up) */
@media only screen and (min-width: 600px) {.headerFont {
  font-family: "customfont";
  color: white;
  font-size: 10vmax;
  line-height: 75%;
}}

/* background image setup */
.bg-image {
  background-image: url("../assets/beansDark.jpg");
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* custom font setup */
@font-face {
  font-family: customfont;
  src: url(../assets/RelayComp.woff);
}

.headerFont {
  font-family: "customfont";
  color: white;
  font-size: 10vmin;
  line-height: 75%;
}
